textarea {
  min-height: 5em;
  resize: vertical;
}

.rdfe-entity-label {
  font-weight: bold;
}

.rdfe-entity-types {
  font-size: 0.7em;
  font-style: italic;
}

.rdfe-small-column {
  white-space: nowrap;
  padding-right: 1em;
  width: 1%;
}

.rdfe-font-bold {
  font-weight: bold;
}

.rdfe-reference-link {
  display: inline-block;
  vertical-align: top;
  margin-left: 7px;
  zoom: 1;
}