.entity-label {
  font-weight: bold;
}

.entity-types {
  font-size: 0.7em;
  font-style: italic;
}

.small-column {
  white-space: nowrap;
  padding-right: 1em;
  width: 1%;
}

textarea {
  min-height: 5em;
  resize: vertical;
}
