
<div class="btn-group">
	<label class="btn btn-default" ng-model="viewMode" btn-radio="'triples'" title="Relationship representation"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Statements</label>
	<label class="btn btn-default" ng-model="viewMode" btn-radio="'predicates'"title="How relationship subject and object are associated"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Properties</label>
	<label class="btn btn-default" ng-model="viewMode" btn-radio="'entities'" title="All entitites/instances in the document"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Entities</label>
</div>

<button class="btn btn-primary" ng-click="newTripleEntityOrPredicate()" title="Add a new entity or triple to the document"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New {{viewMode | viewModeLabel}}</button>

<div class="btn-toolbar pull-right" role="toolbar">
  <button ng-click="closeDocument()" class="btn btn-default" title="Close the document and return to the start page"><span class="glyphicon glyphicon-log-out"></span> Close</button>
</div>

<div class="clearfix"></div>

<hr />

<div id="contents">
</div>
