<div id="locations" class="col-xs-4">
  <h3>Storage Locations</h3>
  <ul class="list-group">
    <li ng-repeat="location in locations"
        class="resourceItem locationItem list-group-item"
        ng-class="{selected: location === currentLocation, 'list-group-item-danger': location.httpStatus === 404}"
        ng-click="setCurrentLocation(location)">
      <div class="pull-right">
        <span ng-show="location.ioType" class="badge">{{location.ioType | ioTypeLabel}}</span>
        <span ng-show="location.httpStatus !== undefined" class="label label-danger label-as-badge" ng-attr-title="{{location.errorMessage}}">{{location.httpStatus | httpStatusLabel}}</span>
      </div>
      <a href="{{location.url}}" ng-click="$event.preventDefault();">
        <span class="resourceName">{{location.name}}</span>
        <span class="resourceUrl" ng-show="location.url.length">{{location.url}}</span>
      </a>
      <!--<div ng-show="location.httpStatus !== undefined">{{location.errorMessage}}</div>-->
    </li>

    <li class="list-group-item">
      <a href="" >
        <span class="glyphicon glyphicon-plus"></span> Add Location
      </a>
    </li>
  </ul>
</div>

<div id="folder" class="col-xs-8">
  <h3>
    <span>{{currentFolder.path}}</span> <span ng-show="currentFolder.host">on {{currentFolder.host}}</span>
    <button class="btn btn-link pull-right" ng-click="refresh()" title="Refresh the contents of the folder"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
  </h3>

  <ul class="list-group">
    <li ng-show="currentFolder.parent" class="list-group-item" ng-click="folderUp()">
      <a href="{{currentFolder.parent.url}}" ng-click="$event.preventDefault();">
        <span class="glyphicon glyphicon-circle-arrow-up"></span> Up
      </a>
    </li>

    <li ng-repeat='child in currentFolder.children | orderBy : orderProp | orderBy : "type" : true' class="resourceItem list-group-item">
      <a href="{{child.url}}" ng-click="$event.preventDefault(); open(child)">
        <div class="resourceIcon">
          <span class="glyphicon" ng-class="{ 'glyphicon-file': child.type === 'file', 'glyphicon-folder-close': child.type === 'folder' }"></span>
        </div>
        <div class="resourceDetails">
          <span class="resourceName">{{child.name}}</span>
          <span class="resourceUrl" ng-show="child.url.length">{{child.url}}</span>
        </div>
      </a>
    </li>

    <li ng-hide="currentFolder.children.length" class="list-group-item">
      <span ng-hide="currentFolder.httpStatus !== undefined">empty folder</span>
      <span ng-show="currentFolder.httpStatus !== undefined" class="text-danger">{{currentFolder.errorMessage}}</span>
    </li>
  </ul>
</div>

<script type="text/ng-template" id="authInfoDialog.html">
  <div class="modal-header">
    <h3 class="modal-title">Authentication</h3>
  </div>
  <div class="modal-body">
    <p>{{url}} is requesting authentication. Please provide a username and password.</p>
    <form ng-submit="ok()" class="form-horizontal">
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
