<h2 ng-bind="title"></h2>
<div id="locations" class="col-xs-4">
  <h3>Storage Locations</h3>
  <ul class="list-group">
    <li ng-repeat="location in locations"
        class="resourceItem locationItem list-group-item"
        ng-class="{selected: location === currentLocation, 'list-group-item-danger': location.httpStatus === 404}"
        ng-click="setCurrentLocation(location)">
      <div class="pull-right">
        <span ng-show="location.ioType && location.type === 'folder'" class="badge">{{location.ioType | ioTypeLabel}}</span>
        <button ng-show="location.ioType && location.type === 'folder'" class="btn btn-link" ng-click="removeLocation(location)" title="Remove location from list">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <span ng-show="location.contentType" class="badge">{{location.contentType}}</span>
        <span ng-show="location.httpStatus !== undefined" class="label label-danger label-as-badge" ng-attr-title="{{location.errorMessage}}">{{location.httpStatus | httpStatusLabel}}</span>
      </div>
      <a href="{{location.url}}" ng-click="$event.preventDefault();">
        <span class="resourceName">{{location.name}}</span>
        <span class="resourceUrl">{{location.url || location.comment}}</span>
      </a>
      <!--<div ng-show="location.httpStatus !== undefined">{{location.errorMessage}}</div>-->
    </li>

    <li us-spinner="{ lines: 8, radius: 5, width: 3, length: 5 }" spinner-key="location-spinner" spinner-start-active="true" ng-hide="locations.length" class="list-group-item spinner">
    </li>

    <li class="list-group-item">
      <a href="" ng-hide="addingLocation" ng-click="showNewLocationUi()">
        <span class="glyphicon glyphicon-plus"></span> Add Location
      </a>
      <div ng-show="addingLocation" class="newLocationDlg">
        <form ng-submit="addNewLocation()" class="form-horizontal">
          <div class="form-group">
            <label for="newLocationUrl">
              Add New Location
            </label>
            <input class="form-control" type="text" name="newLocationUrl" ng-model="newLocationUrl" placeholder="Location URL"/>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="newLocationIsSparql"> Location is a SPARQL Endpoint
              </label>
            </div>
          </div>
        </form>
        <div class="form-group" >
          <button class="btn btn-primary" ng-disabled="!newLocationUrl || newLocationUrl.length === 0" ng-click="addNewLocation()">Add Location</button>
          <button class="btn btn-default" ng-click="addingLocation = false">Cancel</button>
          <div style="display: inline-block; margin-left: 1em;  margin-bottom: 0.2em;">
            <span us-spinner="{ lines: 8, radius: 5, width: 3, length: 5, position: 'relative'}" spinner-key="location-spinner"></span>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </li>
  </ul>
</div>

<div id="folder" class="col-xs-8">
  <h3>
    <span>{{currentFolder.path}}</span> <span ng-show="currentFolder.host">on {{currentFolder.host}}</span>
    <div class="pull-right">
      <button class="btn btn-link" ng-click="refresh()" title="Refresh the contents of the folder">
        <span class="glyphicon glyphicon-refresh"></span> Refresh
      </button>
      <div style="display: inline-block; margin-bottom: 0.4em;">
        <span us-spinner="{ lines: 8, radius: 5, width: 3, length: 5, position: 'relative' }" spinner-key="refresh-spinner"></span>
      </div>
    </div>
  </h3>

  <ul class="list-group">
    <li ng-show="currentFolder.parent" class="list-group-item" ng-click="folderUp()">
      <a href="{{currentFolder.parent.url}}" ng-click="$event.preventDefault();">
        <span class="glyphicon glyphicon-circle-arrow-up"></span> Up
      </a>
    </li>

    <li ng-show="currentFolder.ioType && currentFolder.ioType !== 'sparql'" class="list-group-item">
      <a href="" ng-hide="addingFile" ng-click="showNewFileUi()">
        <span class="glyphicon glyphicon-plus"></span> Create new document here
      </a>
      <div ng-show="addingFile">
        <form ng-submit="addNewFile()" class="form-horizontal">
          <div class="form-group">
            <label for="newLocationUrl">Add New Document</label>
            <input class="form-control" type="text" name="newFileName" ng-model="newFileName" placeholder="Document Name"/>
          </div>
        </form>
        <div class="form-group">
          <button class="btn btn-primary" ng-disabled="!newFileName || newFileName.length === 0" ng-click="addNewFile()">Add Document</button>
          <button class="btn btn-default" ng-click="addingFile = false">Cancel</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </li>

    <li ng-repeat='child in currentFolder.children | orderBy : orderProp | orderBy : "type" : true' class="resourceItem list-group-item">
      <a href="{{child.url}}" ng-click="$event.preventDefault(); open(child)">
        <div class="resourceIcon">
          <span class="glyphicon" ng-class="{ 'glyphicon-file': child.type === 'file', 'glyphicon-folder-close': child.type === 'folder' }"></span>
        </div>
        <div class="resourceDetails">
          <span class="resourceName">{{child.name}}</span>
          <span class="resourceUrl" ng-show="child.url.length">{{child.url}}</span>
        </div>
      </a>
    </li>

    <li ng-hide="currentFolder.children.length || currentFolder.type === 'file'" class="list-group-item">
      <span ng-hide="currentFolder.httpStatus === undefined && currentFolder.ioType !== 'sparql'">empty folder</span>
    </li>

    <li ng-show="currentFolder.httpStatus !== undefined" class="list-group-item">
      <span class="text-danger">{{currentFolder.errorMessage}}</span>
    </li>

    <li ng-show="currentFolder.type === 'file' && currentFolder.httpStatus === undefined" class="list-group-item">
      <span>{{currentFolder.name}} is a file. <a ng-href="{{currentFolder.url}}" ng-click="$event.preventDefault(); open(currentFolder)">Open {{currentFolder.name}}</a></span>
    </li>

    <li ng-show="currentFolder.sparqlEndpoint" class="list-group-item">
      <a href="" ng-hide="addingGraph" ng-click="showNewGraphUi()">
        <span class="glyphicon glyphicon-plus"></span> Open Named Graph on this SPARQL Endpoint
      </a>
      <div ng-show="addingGraph" class="newLocationDlg">
        <form ng-submit="addNewGraph()" class="form-horizontal">
          <div class="form-group">
            <label for="newGraphUri">Add Named Graph</label>
            <input class="form-control" type="text" name="newGraphUri" ng-model="newGraphUri" placeholder="Graph URL"/>
          </div>
        </form>
        <div class="form-group">
          <button class="btn btn-primary" ng-disabled="!newGraphUri || newGraphUri.length === 0" ng-click="addNewGraph()">Add Named Graph</button>
          <button class="btn btn-default" ng-click="addingGraph = false">Cancel</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </li>

  </ul>
</div>
