<button ng-click="openDocument()" class="btn btn-default" title="Open a Document"><span class="glyphicon glyphicon-open"></span> Open Document</button>
<div class="btn-group" role="group">
  <button ng-click="saveDocument()" type="button" class="btn btn-default" title="Save the current document"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save</button>
  <button ng-click="saveDocumentAs()" type="button" class="btn btn-default" title="Save the current document to a new location"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save As...</button>
  <button ng-click="downloadDocumentAs()" type="button" class="btn btn-default" title="Download the current document"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download</button>
</div>
<button ng-click="closeDocument()" class="btn btn-default" title="Close the document and return to the start page"><span class="glyphicon glyphicon-log-out"></span> Close</button>

<div class="btn-group" role="group" style="width:50px">
  <span us-spinner="{ length: 10, radius: 7, lines:10, width:2, shadow: true }" spinner-key="editor-spinner"></span>
</div>

<hr />

<div class="form-horizontal">
  <div class="form-group">
    <label for="documentUri" class="col-sm-2 control-label">Document URI</label>
    <div class="col-sm-4">
      <p class="form-control-static">
        <a ng-show="mainDoc.url" ng-href="{{mainDoc.url}}">{{mainDoc.url}}</a>
        <span ng-hide="mainDoc.url">new document</span>
      </p>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<hr class="editor" />

<div class="row">
  <div class="col-xs-6">
    <div class="btn-group">
	    <label class="btn btn-default" ng-model="viewMode" btn-radio="'triples'" title="Relationship representation"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> {{'spo' | namingSchemaLabel:this:true}}</label>
	    <label class="btn btn-default" ng-model="viewMode" btn-radio="'entities'" title="All entitites/instances in the document"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> {{'s' | namingSchemaLabel:this:true}}</label>
	    <label class="btn btn-default" ng-model="viewMode" btn-radio="'predicates'" title="How relationship subject and object are associated"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> {{'p' | namingSchemaLabel:this:true}}</label>
	    <label class="btn btn-default" ng-model="viewMode" btn-radio="'values'" title="Values projection"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> {{'o' | namingSchemaLabel:this:true}}</label>
    </div>
  </div>

  <div class="col-xs-6">
    <div id="panel-ontologies" class="panel panel-default" style="margin-bottom: 0px; cursor: pointer; ">
      <div class="panel-heading" style="padding: 6px 12px 6px 12px" ng-click="toggleOntologyView()">
        Bound Ontologies&nbsp;<span class="dropup up" style="display: none;"><span class="caret"></span></span><span class="caret down"></span>
        <span id="ontology-add" class="glyphicon glyphicon-plus pull-right" aria-hidden="true" style="display: none;"></span>
      </div>
      <div id="container-ontologies" class="panel-body" style="height: 157px; padding: 0; overflow: auto; display: none;">
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<hr class="editor" />

<div id="contents">
</div>
