<div class="container" id="welcomePanel">
  <div class="page-header">
    <h3>
      <a href="http://www.openlinksw.com/" title="OpenLink Software Home Page">
        <img src="images/oplogo_std_100x40.png" alt="OpenLink Software Home Page" />
      </a>
      <br />
      OpenLink Structured Data Editor<small> - Enabling a Read-Write Web of Linked Data</small>
      <br />
      <small>Version: {{version}}</small>
    </h3>
  </div>

  <div>
    <div class="jumbotron">
      <p>
        This Editor enables editing of Structured Data documents (using abstract RDF Language) stored
        in a variety of HTTP accessible documents (Turtle or JSON-LD content formats).
        Actual document access requires the target document is served from a system that supports at
        least one of the following HTTP based open standards: <strong>Linked Data Platform (LDP)</strong>, <strong>WebDAV</strong>, <strong>SPARQL 1.1 Update</strong>, or the <strong>SPARQL Graph Protocol</strong>.
        Get started by creating a brand new document or opening up an existing document.
        <br /><br />
        <strong>Examples</strong>:
        <br />
        [1] <a href="#/editor?uri=http:%2F%2Fdbpedia.org%2Fresource%2FDBpedia" title="About DBpedia">About DBpedia</a>
        <br />
        [2] <a href="#/editor?uri=http:%2F%2Fwww.openlinksw.com%2Fdata%2Fturtle%2Fopenlink.ttl" title="About OpenLink Software">About OpenLink Software</a>
        </p>
    </div>

    <a href="#/editor?newDocument=true" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-plus"></span> Create New Document</button>
    <a href="#/browser" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-open"></span> Open Document</a>
  </div>
</div>
